.gradle
local.properties
**/.idea/workspace.xml
**/.idea/libraries
*.idea
*.iml
*build
sample/gradle*
**/bin
**/.classpath
**/.project
**/.settings
website/tpl**
website/_site
**/src/main/gen
temp-assetfilegenerator-clone
